* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    font-family: 'League Spartan';
}

h1 {
    color: whitesmoke;
    text-align: center;
    font-size: 36px;
    text-decoration: underline;
}

table {
    border-collapse: collapse;
    width: 60%;
    margin: 0 auto;
    box-shadow: 10px 10px 5px #2b2b2b;
    font-size: 20px;
}

th, td {
    border: 2px solid #2b2b2b;
    background-color: beige;
    padding: 8px;
    text-align: left; 
}

th {
    vertical-align: top;
    color: #2b2b2b;
}

td {
    text-align: right;
}
ul {
    list-style-type: none;
}

a:hover {
    color: crimson;
}

a {
    text-decoration: none;
    color: darkslateblue;
}

#tagline {
    text-align: center;
    font-style: italic;
    font-family: 'Fanwood Text';
    font-size: 24px;
    color: tomato;
}

#header {
    background-color: #2b2b2b;
    padding: 10px;
    margin-bottom: 20px;
}
