/* General style rules & fonts */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.blink {
    animation: blink 0.5s linear 3;
}

@keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

.edit {
    font-weight: bold;
    color: red;
}

.bigger {
    font-size: 2em;

}

html {
    font-size: 18px;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #96dfc6;
    color: #000000;
    text-align: center;
    justify-content: space-between;
}

nav ul{
    margin-left: 3vh;
}

#about, #projects, #skills, #contact, #grouped-projects-container {
    margin: 3vh;
}

h1, h2 {
    text-transform: uppercase;
    text-decoration: overline;
}

h1 {
    font-family: 'Fanwood Text';
    font-size: 4em;
}

h2 {
    font-family: 'Fanwood Text';
    text-align: center;
    font-size: 3em;
}

p {
    font-family: 'League Spartan';
}

ul {
    list-style-type: none;
}

ul li {
    display: inline;
    margin-right: 10px;
}

a {
    text-decoration: none;
    font-family: 'League Spartan';
}

/* Header Section */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    box-shadow: 0px 0px 10px rgba(200, 200, 200, 0.5);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #96dfc6;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;    
}

header a, header a:visited {
    color: #d6fbb8;
    font-size: 1.5em;
}

header a:hover {
    color: #f1f1f1;
    font-weight: bold;
}

header img {
    height: 30px;
    width: auto;
    filter: invert(100%);
    padding: 2px;
}

header img:hover {
    filter: invert(1) sepia(1) saturate(5) hue-rotate(45deg);
}

nav li:not(:last-child) a::after {
    content: " - ";
    margin: 0 10px;
}

nav li:first-child a::before {
    content: "[ ";
}

nav li:last-child a::after {
    content: " ]";
}

/* About section */
#about {
    margin: 3vh;
    margin-left: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#about p {
    margin-top: 1vh;
    margin-left: 3vh;
    text-align: center;
    width: 50vw;
    font-size: 1.2em;
}

#profile-picture {
    box-shadow: 0 0 10px 5px #000000;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin-right: 2vw;
}

/* Projects section */
#projects {
    margin: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#projects a, #projects a:visited{
    color: #000000;

}

#grouped-projects-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.grouped-project {
    flex: 1 0 20%;
    position: relative;
}

.grouped-project ul li {
    display: block;
    padding-bottom: 10px;
}

.project-heading {
    background-color: #000000;
    color: #96dfc6;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    font-size: 1em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.content {
    background-color: #f1f1f1;
    width: 100%;
    background-color: #f1f1f1;
    z-index: 1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#grouped-projects-container .content ul li::after {
    content: "•";
    display: block;
    text-align: center;
    margin: 0;
}

#grouped-projects-container .content ul li:last-child::after {
    content: "";
    display: none;
}

/* Skills section */
#skills, #projects {
    margin: 3vh;
    background-color: rgba(240, 240, 240, 0.3);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(200, 200, 200, 0.5);
}

#skills ul{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

#skills img {
    height: 48px;
    width: auto;
}

.greyscale {
    filter: grayscale(100%) contrast(200%);
}

/* Contact section */

footer {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    margin-top: 8vh;
}

#icon-links a{
    color: #444444;
}

/* Landscape Tablet */
@media only screen and (max-width: 1400px) {    
    /* Projects Section */

    .project-heading {
        pointer-events: none;
     }

    .content {
        display: block !important;
        position: static;
    }
    
    #grouped-projects-container {
        flex-direction: column;
    }

    .grouped-project {
        margin-bottom: 10px;
    }
}

/* Portrait tablet styling */
@media only screen and (max-width: 768px) {
    /* Header Section */
    h1 {
        font-size: 2em;
    
    }

    nav ul {
        margin-left: 0;
    }

    nav li:not(:last-child) a::after {
        margin: 0px;
    }
    
    /* About Section */
    #about {
        flex-direction: column;
        align-items: center;
        margin: 10px;
    }

    #about p {
        width: auto;
        margin: auto;
        margin-bottom: 10px;
    }  

    /* Projects Section */
    
    .grouped-project {
        margin-bottom: 10px;
    }
    
}

/* Mobile styling */
@media only screen and (max-width: 480px) {
    /* Header Section */
    h1 {
        font-size: 2em;
    
    }

    nav ul {
        margin-left: 0;
    }

    nav li:not(:last-child) a::after {
        margin: 0px;
    }

    /* About Section */
    #about {
        flex-direction: column;
        align-items: center;
        margin: 10px;
    }

    #about p {
        width: auto;
        margin: auto;
        margin-bottom: 10px;
    }  

    #skills, #projects {
        padding: 10px;
        margin: 1vh;
    }
    #skills ul {
        flex-wrap: wrap;
    }
    
    #skills ul li {
        margin-bottom: 10px;
    }

}
