/* General style rules & fonts */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Evelynfont';
    src: url(../fonts/Evelynfont.ttf);
}

.blink {
    animation: blink 0.5s linear infinite;
}

@keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

.edit {
    font-weight: bold;
    color: red;
}

.bigger {
    font-size: 2em;

}

html {
    font-size: 16px;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #d4c3d0;
    color: #000000;
    text-align: center;
    justify-content: space-between;
}

nav ul{
    margin-left: 3vh;
}

#about, #projects, #skills, #contact, #grouped-projects-container {
    margin: 3vh;
}

h1 {
    font-family: 'Evelynfont';
    font-size: 4em;
}

h2 {
    font-family: 'Fanwood Text';
    text-align: center;
    font-size: 3em;
}

p {
    font-family: 'League Spartan';
}

ul {
    list-style-type: none;
}

ul li {
    display: inline;
    margin-right: 10px;
}

a {
    text-decoration: none;
    font-family: 'League Spartan';
}

/* Header Section */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    color: #d4c3d0;
    padding-left: 2vh;
    justify-content: space-between;
    padding-bottom: 2vh;
}

header a, header a:visited {
    color: #d6fbb8;
    font-size: 1.5em;
}

header a:hover {
    color: #f1f1f1;
    font-weight: bold;
}

/* About section */
#about {
    margin: 3vh;
    margin-left: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#about p {
    margin-top: 8vh;
    margin-left: 3vh;
    text-align: left;
    width: 50vw;
}

#profile-picture {
    box-shadow: 0 0 10px 5px #000000;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin-right: 2vw;
}

/* Projects section */
#projects {
    margin: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#grouped-projects-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.grouped-project {
    flex: 1 0 20%;
    position: relative;
}

.grouped-project ul li {
    display: block;
    margin: 0.5vh;
}

.collapsible {
    background-color: #000000;
    color: #d4c3d0;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1em;
}

.content {
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    position: absolute;
    width: 100%;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    z-index: 1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Skills section */
#skills {
    margin: 3vh;
}

#skills ul{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

#skills img {
    height: 48px;
    width: auto;
}

.greyscale {
    filter: grayscale(100%) contrast(200%);
}

/* Contact section */

footer {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    margin-top: 8vh;
}

footer img {
    height: 24px;
    width: auto;
}

footer img:hover {
    filter: invert(100%);
}