/* General style rules & fonts */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Evelynfont';
    src: url(../fonts/Evelynfont.ttf);
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #d4c3d0;
    color: #000000;
    text-align: center;
}

main {
    height: 100vh;
}

header {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000000;
    color: #d4c3d0;
}

#about, #projects, #skills, #contact, #grouped-projects-container {
    margin: 3vh;
}

h1 {
    font-family: 'Evelynfont';
}

h2 {
    text-align: center;
}

ul {
    list-style-type: none;
}

ul li {
    display: inline;
    margin-right: 10px;
}

/* About section */
#about {
    margin: 3vh;
    display: flex;
    flex-direction: row;
}

#about h2, #about p {
    margin-left: 3vh;
    text-align: left;
}

#about img {
    border: #000000 2px solid;
    border-radius: 50%;
    height: 200px;
    width: auto;
}

/* Projects section */
#projects {
    margin: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#grouped-projects-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.grouped-project {
    flex: 1 0 20%;
    position: relative;
}

.grouped-project ul li {
    display: block;
    margin: 0.5vh;
}

.collapsible {
    background-color: #000000;
    color: #d4c3d0;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 15px;
}

.content {
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    position: absolute;
    width: 100%;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    z-index: 1;
}

/* Skills section */
#skills {
    margin: 3vh;
}

#skills ul{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

#skills img {
    height: 64px;
    width: 64px;
}

.greyscale {
    filter: grayscale(100%) contrast(200%);
}

/* Contact section */

footer {
    margin: 3vh;
    height: 10vh;
}

footer img {
    height: 24px;
    width: auto
}